"*":
  core:
    disabledPackages: [
      "whitespace"
    ]
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "Inconsolata-dz"
    fontSize: 12
    invisibles: {}
    lineHeight: 2
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    tabLength: 4
  "exception-reporting":
    userId: "eb0b32ac-0e92-3cad-6458-3e813d09c110"
  welcome:
    showOnStartup: false
